@import url(https://fonts.google.com/specimen/Roboto+Mono);
@import url(https://fonts.google.com/specimen/Montserrat?categoryFilters=Sans+Serif:%2FSans%2FGeometric);
@import url(https://fonts.google.com/specimen/Electrolize?categoryFilters=Feeling:%2FExpressive%2FStiff&preview.script=Latn);

body{
    background:linear-gradient(to bottom, #e6d581 0%, #e1d595 25%, #ffffff 100%);
}


.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left:-8px;
    margin-right:16px;
    width:100%;
    position:relative;
    z-index: 10;
}

.container h1{
    margin:0;
    font-size: 24px;
    display: inline-block;
}


.container nav{
    margin-left:300px;
    margin-right:auto;
}

.flex{
    display:flex;
    gap: 25px;
    list-style: none;
}

a:link{
    color:white;
    text-decoration:none;
}

a:active, :visited{
    color:white;
    text-decoration:underline;
}

.WhiteChair{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin-top:50px;
}

.btn1{
    grid-column-start: 1;
    grid-row:3;
    /*border:2px solid red;*/
    margin-top:-320px;
    margin-bottom:auto;
    background-color: black;
    color:white;
    text-align:center;
    margin-right:130px;
    margin-left:20px;
    padding:10px;
}

h2{
    grid-column-start:1;
    grid-row-start:1;
    /*border:2px solid red;*/
    margin-bottom:auto;
    margin-top:70px;
    margin-right:-150px;
    text-wrap: wrap;
    font-family:Montserrat;
    font-weight:300;
    margin-left:20px;
}

h3{
    grid-column-start:1;
    grid-row-start:2;
    /*border:2px solid red;*/
    margin-bottom:auto;
    margin-top:-90px;
    margin-left:20px;
    margin-right:-150px;
    font-size:17px;
    font-family:roboto-mono;
    font-weight:300;
}

.image{
    width:80%;
    grid-column:3/5;
    grid-row:1;
    /*border:2px solid red;*/
    margin-top:-330px;
}

.news{
    display:flex;
    align-items: center;
    gap:20px;
    margin-top:-420px;
    margin-bottom:30px;
}

.news h2{
    margin:20px;
    white-space:nowrap;
    /*8border:2px solid red;*/
}

.line{
    flex-grow:1;
    background-color: black;
    /*border-top:1px solid red;*/
    height:5px;
    margin-left:-30px;
}

.line2{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
}

.uroom-line{
    background-color: white;
    width:3px;
    height:24px;
    margin-left:0;
}

.ctable{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: start;
    margin-top:50px;
    /*border:2px red solid;*/
}

.ctable section{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    text-align:justify;
    margin-top:2px;
    margin-bottom:2px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.ctable .og, .ctable .price2, .ctable .price3, .ctable .price4{
    margin-top:-10px;
}

span{
    text-decoration: line-through;
    color: grey;
    margin-right:7px;
}

.ctable img{
    width: 200px;
    height: 200px;
    object-fit:contain;
    margin-bottom:15px;
    align-self: center;
}

.about{
    display:flex;
    align-items: center;
    gap:20px;
    margin-top:50px;
    margin-bottom:30px;
}

.about h2{
    margin:20px;
    white-space:nowrap;
    /*8border:2px solid red;*/
}

.about-us{
    text-align: center;
    /*border:2px solid red;*/
    width:512px;
    max-width:650px;
    align-items: center;
    margin:2px auto;
    margin-bottom:50px;
    font-size:20px;
    /*font-family:Electrolize;*/
}

.finalisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    margin:50px auto;
    max-width:1200px;
}

.finalisation section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex:1;
}

.finalisation .number{
    font-size:28px;
    font-weight: bold;
    margin: 0 0 2px 0;
    text-align: center;
}

.finalistaion .title{
    font-size: 16px;
    font-weight: 600;
    margin:0 0 12px 0;
    text-align: center;
}

.finalisation .desc{
    margin:0;
    line-height:1.6;
    text-align: left;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.finale{
    width: 3px;
    background-color: black;
    height: 180px;
}

.finalisation p{
    margin: 5px 0;
}